# === IntelliJ ===
*.iml
*.ipr
*.iws

# for sbt in scala #
target/
lib_managed/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/

# Linux temp files
.*

# White list of gitignore itself
!.gitignore

